### SublimeText ###
*.sublime-workspace

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# App specific

node_modules/
.tmp
dist
/src/main.js
.idea/.name
.idea/Geo.iml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/typescript-compiler.xml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/workspace.xml
.idea/dictionaries/nickbespalov.xml
.idea/libraries/compass_library.xml
.idea/libraries/Geo_node_modules.xml
.idea/libraries/Node_Local.xml
