#newCategoryForm {
    width: 95%;
    height: 100%;
}
#newCategoryForm .categoryName .label {
    margin: 0 10px 0 0;
}
#newCategoryForm .categoryName input[type="text"] {
    width: 91.7%;
}
#newCategoryForm .controls {
    text-align: right;
}
#newCategoryForm input[type="button"] {
    height: 35px;
}
#newCategoryForm .controls &:first-child {
    margin: 0 5px 0 0;
}
.categoriesListControls {
    text-align: right;
}
.categoriesListControls &:first-child {
    margin: 0 5px 0 0;
}
