.tree-view {
    overflow-y: hidden;
}
.tree-view_children {
    margin-left: 16px;
}
.tree-view_children-collapsed {
    height: 0;
}
.tree-view_arrow {
    cursor: pointer;
    margin-right: 6px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tree-view_arrow-collapsed {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#search input[type="text"] {
    border: 1px solid black;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width:150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    color: #6a6f75;
    width: 200px;

}
.searchResults {
    list-style-type: none;
    padding-left: 10px;
}
