html {
    height: 100%;
    width: 100%;
}
body {
    margin:0;
    padding:0;
    border:0;			/* This removes the border around the viewport in old versions of IE */
    width:100%;
    background:#fff;
    min-width:600px;    	/* Minimum width of layout - remove line if not required */
    /* The min-width property does not work in old versions of Internet Explorer */
    font-size:90%;
}
a {
    color:#369;
}
a:hover {
    color:#fff;
    background:#369;
    text-decoration:none;
}
h1, h2, h3 {
    margin:.8em 0 .2em 0;
    padding:0;
}
p {
    margin:.4em 0 .8em 0;
    padding:0;
}
img {
    margin:10px 0 5px;
}

/* column container */
.colmask {
    position:relative;	/* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:100%;			/* width of whole page */
    overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
    float:left;
    width:100%;
    position:relative;
}
.col1,
.col2,
.col3 {
    float:left;
    position:relative;
    padding:1em 0 1em 0;
    overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
    background:#f4f4f4;		/* right column background colour */
}
.leftmenu .colleft {
    right:75%;			/* right column width */
    background:#f4f4f4;	/* left column background colour */
}
.leftmenu .col1 {
    width:71%;			/* right column content width */
    left:102%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
    width:21%;			/* left column content width (column width minus left and right padding) */
    left:6%;			/* (right column left and right padding) plus (left column left padding) */
}


.tabs {
    min-width: 320px;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;

}
/* Стили секций с содержанием */
section {
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}
.tabs > input {
    display: none;
}
/* Стили вкладок (табов) */
.tabs label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
}
.tabs label:before {
    font-family: fontawesome, serif;
    font-weight: normal;
    margin-right: 10px;
}
.tabs label[for*="1"]:before {
    content: "\f19a";
}
.tabs label[for*="2"]:before {
    content: "\f17a";
}
.tabs label[for*="3"]:before {
    content: "\f13b";
}
.tabs label[for*="4"]:before {
    content: "\f13c";
}
.tabs label:hover {
    color: #888;
    cursor: pointer;
}
.tabs input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 1px solid #009933;
    border-bottom: 1px solid #fff;
    background: #fff;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}
@media screen and (max-width: 680px) {
    .tabs label {
        font-size: 0;
    }

    .tabs label:before {
        margin: 0;
        font-size: 18px;
    }
}
@media screen and (max-width: 400px) {
    .tabs label {
        padding: 15px;
    }
}
